body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
.sec1{
    height: 669px;
    background-image: url(./images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle{
    width: 826px;
    height: 320px;
    color: white;
    text-align: center;
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
}
.sec2{
    height: 500px;
}
.center{
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.money{
    word-spacing: 100px;
    margin-top: 100px;
}
.selected{
    color: rgb(251, 88, 115);
    background-color: rgba(255, 192, 203, 0.451);
    border: 2px solid rgb(253, 81, 110);
    border-radius: 5px;
    padding: 10px 20px;
}
.other-amount{
    width: 500px;
    height: 30px;
    margin-top: 50px;
    border: 0;
    border-bottom: 2px solid gray;
    text-align: center;
    font-size: medium;
}
.sec3{
    height: 600px;
}
.box1{
    width: 360px;
    height: 352px;
    background-color: antiquewhite;
    text-align: justify;
    padding: 2%;
    border-radius: 5px;
    margin: 5px;
}
.box2{
    width: 360px;
    height: 352px;
    background-color:lightblue;
    text-align: justify;
    padding: 2%;
    border-radius: 5px;
    margin: 5px;
}
.box3{
    width: 360px;
    height: 352px;
    background-color:thistle;
    text-align: justify;
    padding: 2%;
    border-radius: 5px;
    margin:5px ;
}
.container{
    display: flex;
}
.sec4{
    height: 400px;
}
.contact-area{
    width: 809px;
    height: 200px;
    background-color: wheat;
    border-radius: 5px;
    margin-top: 20px;
    position: absolute;
    left: 280px;
}
#mail{
    height: 30px;
    position: absolute;
    top: 90px;
    right: 350px;
    border-radius: 5px;
}
#button{
    height: 35px;
    position: absolute;
    top: 90px;
    left: 460px;
    color: white;
    background-color: rgb(239, 107, 107);
    border-radius: 5px;
}
footer{
    height: 177px;
    background-color: rgb(19, 19, 23);
    text-align: center;
    color: white;
}
footer h1{
    color: rgb(234, 88, 88);
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
    padding-top: 40px;
}